<% if(errors.length > 0) { %>

    <div class="row m-0 mw-100">
        <div class="col p-0">
            <div class="alert alert-danger">
                <% errors.forEach(element => { %>
                    <%= element %><br>
                <% }) %>
            </div>
        </div>
    </div>

<% } %>

<% if(success.length > 0) { %>

    <div class="row m-0 mw-100">
        <div class="col p-0">
            <div class="alert alert-danger">
                <% success.forEach(element => { %>
                    <%= element %><br>
                <% }) %>
            </div>
        </div>
    </div>

<% } %>